.principal {
  display: flex;
  justify-content: center;
}

.form-card {
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
}

.form {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.bt_enviar {
  align-items: flex-end;
}

.example-pizza-party {
  color: hotpink;
}
