<body class="corpo">
<form class="example-form">
    <div>
        <label>Titulo</label>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Informe um nome" value="">
        </mat-form-field>
        <label>Conteúdo</label>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Deixe um comentario"></textarea>
        </mat-form-field>
        <button class="bt_enviar" mat-stroked-button>Enviar</button>
    </div>
</form>
</body>